html {
  scroll-behavior: smooth;
}

.background
{
  background-color:rgb(16, 16, 16);
  overflow-x:hidden;
  color:black;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 40%;
  height: 70%;
  border-radius: 20px;
  color:white;
  font-size:30pt;
  font-family: sans-serif;

}

div.gallery:hover {
  border-color: rgb(255,255,255);
}

div.gallery video {
  width: 90%;
  height: auto;
  margin-left:5%;
}

div.desc {
  padding: 15px;
  text-align: center;
}